App:
  Version: 0.0.1
  Mode: api
  IsDebug: true
  AuthEnabled: false
Casdoor:
  ClientId: 'reservation'
  ClientSecret: 'reservation-secret'
  Cert: ''
  Url: 'http://localhost:8000'
  Organization: 'ds'
  Application: 'bookit'
Psql:
  URL: 'postgres://postgres:postgres@localhost:5433/reservation?sslmode=disable'
  MaxIdleConns: 10
  MaxOpenConns: 100
Server:
  Host: 'localhost'
  Port: 8084
  ReadTimeout: 10s
  WriteTimeout: 10s
Logger:
  Level: 'trace'
  Format: 'json'